* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {

    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    overflow-y: hidden;
    position: sticky;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 80px;
}

nav ul li a {
    text-decoration: none;
    padding-left: 30px;
    color: black;
    cursor: pointer;
}

nav ul li a:hover {
    color: dimgray;
}

.logo {
    margin-left: 120px;
}

main {
    padding: 0;
}

.section-intro {
    width: 100%;
    height: 350px;
    display: block;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 50px 50px;
    border-bottom: 1px solid black;
}

.section-intro-descript {
    color: gray;
}

.section-centent {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.section-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    text-align: left;

}

.section-projects ul {
    list-style-type: none;
    padding: 0;
}

.section-projects ul li {
    text-decoration: none;
}

.section-article {
    border-left: 1px solid black;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

article {
    width: 100%;
    padding: 0;
}

.section-education {
    border-left: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.section-education ul {
    padding: 0;
    margin-left: 20px;
    list-style-type: decimal;
}

.section-education ul li {
    text-decoration: none;
    margin-left: 20px;
}

aside {
    padding: 20px;
}

.reviews-title {
    margin-left: 40px;
}

.section-feedback-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
}

blockquote {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 12px;
    padding: 20px;
}

footer {
    color: gray;
    text-align: left;
}

.section-footer {
    text-align: center;
    padding: 20px;
}